@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Company";
}

<div class="text-center">
    <h1 class="display-4 text-decoration-underline mb-4">Company</h1>
    <div class="d-flex flex-row w-100 mb-3">
        <div class="w-50 border-end text-start p-2">
            <h1>Welcome to Power Pets</h1>
            <p>
                Empowering Innovation, Driving Success
                Dedicated to transforming ideas into reality
            </p>
        </div>
        <div class="w-50 d-flex justify-content-center align-items-center">
            <h1>EPIC PHOTO HERE</h1>
        </div>
    </div>
</div>

